body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(30 75 115 / 100%), rgb(255 255 255 / 0%));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.feedback-container, .thank-you-container {
    background: linear-gradient(132deg, #11c2de 60%, #e20d94 60%);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feedback-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.feedback-option {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
#unhappy:hover{
    background-color: red;
}
#neutral:hover{
    background-color: orange;
}
#satisfied:hover{
    background-color: #12d429;
}

.feedback-option p {
    margin-top: 5px;
    font-size: 1.2em;
}
#send-review:hover{
    font-size: large;
    background-color: orangered;
}

button {
    background-color: #008c7a;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #b2d8d8;
    cursor: not-allowed;
}

